.statusContainer {
  padding: var(--pf-t--global--spacer--md);
}

.statusText {
  color: var(--pf-t--global--text--color--subtle);
  margin: 0;
}

.pickerContainer {
  margin-top: var(--pf-t--global--spacer--xs);
}

.checkIcon {
  color: var(--pf-t--global--color--status--success--default);
}

.warningIcon {
  color: var(--pf-t--global--color--status--warning--default);
}
