@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply w-lvw h-lvh relative;
}

#root {
  @apply w-full h-full;
  @apply flex flex-col;
  @apply max-h-lvh;
  @apply isolate;
}

@layer utilities {
  .glass {
    @apply bg-black/20;
    @apply backdrop-blur-2xl;
    @apply border-white/10 ;
    @apply bg-linear-0 from-violet-400/10 via-purple-400/10 to-sky-400/10;
  }

  .details > dt {
    @apply text-white/60 mb-0.5;
  }

  .details > dd {
    @apply text-white not-last:mb-6;
  }

  .label {
    @apply text-white/70;
    @apply mb-1;
    @apply font-medium;
  }

  .input {
    @apply bg-black/30;
    @apply border-white/20 border;
    @apply text-white;
    @apply placeholder-white/60;
    @apply focus:border-white/30 focus:ring-0;
    @apply rounded-xl;
    @apply px-4 py-2;
  }

  .search {
    @apply bg-black/40;
    @apply border-white/10 border;
    @apply text-white;
    @apply placeholder-white/60;
    @apply focus:border-white/30 focus:ring-0;
    @apply rounded-xl;
    @apply px-4 py-2;
  }

  .ai-shadow {
    box-shadow: -2px -2px 4px var(--color-violet-800),
      2px 2px 4px var(--color-sky-700), -2px 2px 4px var(--color-pink-800),
      2px -2px 4px var(--color-pink-800);
  }
}
