.user {
  margin: 0;
  color: var(--pf-t--global--color--brand--default);
}

.timestamp {
  margin: 0;
  color: var(--pf-t--global--text--color--subtle);
}

.timestampDefault {
  margin: 0;
}

.inlineWrapper {
  margin: 0;
}

.inlineUser {
  color: var(--pf-t--global--color--brand--default);
}

.inlineTimestamp {
  display: inline;
  color: var(--pf-t--global--text--color--subtle);
}

.inlineTimestampDefault {
  display: inline;
}
