{% from "helpers.jinja" import safe_docstring %}

{{ safe_docstring(package_description) }}
from .client import AuthenticatedClient, Client
from .filters import OPERATORS, FilterError, build_filters

__all__ = (
    "AuthenticatedClient",
    "Client",
    "build_filters",
    "FilterError",
    "OPERATORS",
)
